apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: tls-wildcard-idena-wf
  namespace: cert-manager
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: ""
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
  dnsNames:
    - "idena.wf"
    - "*.idena.wf"
  issuerRef:
    name: idena-wf
    kind: ClusterIssuer
  secretName: tls-wildcard-idena-wf
